# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Log files
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# Environment variables
.env
.env.local
